body {
  text-align: center;
  background-color: #5a0403;
}

.page {
  background-color: floralwhite;
  max-width: 70vw;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  border-radius: 5% 5% 0 0;
  table {
    border-collapse: collapse;
  }
  th {
    border-bottom: thin solid black;
  }

  th, td {
    width: 10vw;
    padding: 5px 0 5px;
    content: '';
    &.double {
      width: 20vw;
    }
  }
}

.buttons-bar {
  color: white;
  position: relative;
  top: 250px;
  .button {
    display: inline-block;
    background-color: #2e0e4b;
    padding: 20px;
    font-size: 40px;
    margin-right: 20px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      box-shadow: 0 0 0 0;
      font-size: 35px;
    }
  }
}

.form {
  color: white;
  background-color: black;
  position: relative;
  top: calc(50vh - 705px);
  text-align: center;
  width: 20vw;
  margin: 0 auto;
  padding: 40px 40px;
   .row {
     margin: 20px;
   }
}
